form {
    border: 1px solid #cfcfcf;
    border-radius: 0 0 3px 3px;
    border-top: none;
    padding: 3em 2.75em 2.8em 2.75em;
}

@media screen and (max-width: 992px) {
    form {
        padding: 2em 1em 2em 1em;
    }
  }

.example-container {
    display: flex;
    flex-direction: column;
} 

.form-button-row {
    text-align: right;
    margin: 10px 0 0 0;
}

.form-button-row button {
    margin-left: 10px;
}

.form-field-wrapper {
    margin: 0 0 25px 0;
}

.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
   flex: 1 1 auto;
}

.select-item > mat-icon {
    position: relative;
    bottom: .1em;
} 

.select-template
{
    height: 40px !important;
}

mat-toolbar-row > span:first-child {
    padding-left: 17px;
}