.container {
    margin: 2em 1.5em 2em 1.75em;
    display: flex;
    flex-wrap: wrap;
}

.table-container {
    margin: 0 1.5em 2em 1.5em;
}

h2 {
    margin: 0;    
}

.flex-seperator{
    flex-grow: 1;
}

.container > mat-slide-toggle {
    position: relative;
    top: .35em;
    right: 1.25em;
}

table {
    width: 100%;
    border-radius: .2em;
}

.grid-edit-button {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
    border: none;
    background-color: transparent;
}

.edit-header {
  text-align: right;
  padding-right: 3em !important;
}

.edit-cell {
    text-align: right;
    width: 12em;
}

.color-cell {
    width: .5em;
}

td.mat-cell {
    padding-right: .25em;
}

.cards-container {
    
}

mat-card {
    margin: 0 0 2em 0;
    border-left: 2em solid;
}

.card-edit {

}

mat-button-toggle-group.mat-button-toggle-group {
    position: relative;
    bottom: .2em;
    right: 3em;
}

@media screen and (max-width: 500px) {
    .mat-cell {
      font-size: .6em;
    }
    td.mat-cell {
      padding: .5em;
    }
}