mat-toolbar {
    width: 100%; 
    padding: 1em; 
    color: #fff; 
    background-color: #0088cc;
    text-align: center;
}

mat-toolbar > span {
    font-size: 1.5em;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

#hamburger {
    font-size: 2.5em;
    float: left;
    cursor: pointer;
    position: relative;
    bottom: .25em;
}

.content-one {
    margin: 0 1.5em 0 1.5em;
}

.example-container {
    position: absolute;
    top: 4em;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
}

.step-drawer {
    height: 100%;
}

#footerImage {
    height: 2.25em;
}

.copyright-info {
  margin: 1em 0 2em 1.75em;
}

@media screen and (max-width: 500px) {
  .copyright-info {
      font-size: .75em;
  }
}
