
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Add A Priority</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">home</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<form class="example-container" [formGroup]='priorityForm'>
  
  <mat-form-field class="form-field-wrapper">
    <input matInput placeholder="Priority Title" formControlName="priorityTitle">
    <mat-hint *ngIf="priorityTitle.dirty">Give the priority a title. {{ titleMaxLength - priorityTitle.value.length }} characters left.</mat-hint>
    <mat-error *ngIf="priorityTitle.errors?.required">A prioirty title is required</mat-error>
    <mat-error *ngIf="priorityTitle.errors?.maxlength">You've exceeded the length.</mat-error>
  </mat-form-field>
  
  <mat-form-field class="form-field-wrapper">
    <textarea ([ngModel])='textValue' style="height: 100px;" id='priorityDescription' matInput placeholder="Priority Description" formControlName="priorityDescription"></textarea>
    <mat-hint *ngIf="priorityDescription.dirty">Type a description of the prioirty. {{ descriptionMaxLength - priorityDescription.value.length }} characters left.</mat-hint>
    <mat-error *ngIf="priorityDescription.errors?.required">A prioirty description is required</mat-error>
    <mat-error *ngIf="priorityDescription.errors?.forbiddenChar">Your description cannot contain the letter '{{ forbiddenChar }}'.</mat-error>
    <mat-error *ngIf="priorityDescription.errors?.maxlength">
        You've exceeded the length. Remove {{ priorityDescription.value.length - descriptionMaxLength }} characters.
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="form-field-wrapper">
    <mat-select placeholder="Initiative" formControlName="priorityInit" >
      <mat-option *ngFor='let item of selectItems' class='select-template' [value]='item.itemTitle' >
        <mat-icon [ngStyle]='{ color: item.itemColor }'>{{ item.matIconName }}</mat-icon>
            {{ item.itemTitle }}
            <span>{{ item.itemDescription}}</span>
      </mat-option>
    </mat-select>
    <mat-hint>Select an initiative from the dropdown.</mat-hint>
    <mat-error *ngIf="priorityForm.invalid">You must select an initiative.</mat-error>
  </mat-form-field>

  <div class='form-button-row'>
    <button mat-raised-button (click)="clickCancelButton()">CANCEL</button> 
    <button mat-raised-button color="primary" [disabled]="(priorityForm.dirty || priorityForm.touched) && priorityForm.invalid" (click)='saveButton()'>SAVE</button>
  </div>
</form>
